---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, and welcome!</h1>
			<p>
				Welcome to my new roebi blog. I start with my blog in August 2023.
			</p>
			<p>
				Current i 'work' in parallel about its blog contents, with all have a own Git repo on github:
				<a href="https://github.com/roebi" target="_blank">roebi on github</a>
				. Each blog entry is a kind of quick starter for your own small projects and experiments.
			</p>
			<p>Here are some directions where the first ten starters will go:</p>
			<ul>
				<li>&#9989; 01-01 a vanilla HTML 5 starter Page</li>
				<li>&#9989; 01-02 a local go webserver on podman</li>
				<li>&#9989; 01-03 licenses for software</li>
				<li>&#9989; 01-04 licenses for art</li>
				<li>&#9989; 01-05 dev env setup basestep for jvm</li>
				<li>(PLANNED) some Gradle with Kotlin Init Setups</li>
				<li>(PLANNED) use of Apache POI - create Excelfiles - read Excelfiles</li>
				<li>(PLANNED) XML Translation with Saxon</li>
			</ul>
			<p>
				Get an overview and take a little insight into what interests you.
			</p>
			<p>
			    or ask questions in the git repositories.
			</p>
			<p>
			    enjoy - roebi.
			</p>
		</main>
		<Footer />
	</body>
</html>
